/*
    Component: footer
    ---
    Main footer of the website
*/
.c-logo{
    height:32px;
}

.c-logo__symbol{
    height:100%
}

.c-footer {
}

.c-footer__logo {
}

.c-footer__nav {
}

@media (min-width: 768px) {
    .c-logo{
        height:40px;
    }
    .c-footer {
    }

    .c-footer__logo {
    }

    .c-footer__nav {
    }
}

@media (min-width: 992px) {
    .c-footer {
    }

    .c-footer__logo {
    }

    .c-footer__logo .c-logo {
    }

    .c-footer__nav {
    }
}
